body {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

main {
  max-width: 1640px;
  max-height: 790px;
  height: 100%;

  display: flex;
}

main.blog {
  max-width: 840px;
  width: calc(100% - 80px);
  padding: 40px;
}

div {
  border-radius: 10px;
}

.telescopeBorder {
  position: relative;
  border: 2px solid var(--blue);
}

.telescope {
  background-color: var(--base);
  position: fixed;
  max-width: 1640px;
  height: 790px;
  width: calc(100% - 40px);
  display: flex;
  z-index: 1;
}

.leftWrapper {
  width: 57.8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20.4px;
}

.guide {
  width: 42%;
}

.guide_borderWrapper {
  z-index: 1;
  height: 100%;
}

.innerWrapper {
  border: 1px;
  height: calc(100% - 15px);
  margin-top: 15px;
  overflow-y: hidden;
}

.links {
  height: 89.87%;
  display: flex;
  flex-direction: column;
}

.search {
  height: 7.595%;
  display: flex;
  align-items: center;
  padding-left: 6px;
}

.search_symbol {
  font-size: 26px;
  font-weight: bold;
  color: var(--blue);
}

.guide_textWrapper {
  padding: 20px 40px;
  font-size: 28px;
  height: 95%;
  scrollbar-width: none;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

* {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.highlight-rosewater {
  color: var(--rosewater);
}

.highlight-command {
  color: var(--mauve);
}

.highlight-link {
  color: var(--blue);
}

.searchInput {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin-left: 4px;
  position: relative;
  top: 1px;
}

.searchInput:focus {
  outline: none;
}

p {
  margin: 14px 0;
}

.links_linkWrapper {
  overflow-y: scroll;
  height: 100%;
  height: fit-content;
  font-size: 26px;
  margin-left: 6%;
  margin-top: 14px;
  padding-top: 5%;
}

.links_linkWrapper a {
  color: var(--text);
}

.link {
  display: flex;
  align-items: center;
  margin: 6px 0;
  width: fit-content;
}

.link:hover {
  opacity: 0.7;
}

.link a:hover {
  opacity: 1;
}

.file_icon {
  width: 26px;
  margin: 0 10px;
  filter: invert();
  position: relative;
  top: 2px;
}

.guide_textWrapper p {
  font-size: 18px;
}

.guide_textWrapper h1 {
  font-size: 30px;
}

.guide_textWrapper h2 {
  font-size: 22px;
}

.guide_textWrapper h3 {
  font-size: 18px;
}

.hidden {
  display: none !important;
}

.borderHeader {
  background-color: var(--base);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 140px;
  top: -10px;
  height: 20px;
  border-radius: none;
  z-index: 1;
}

.borderHeader p {
  text-align: center;
  font-size: 24px;
  margin: 8px 0;
  position: relative;
  bottom: 14px;
}

.borderHeader.linkHeader {
  width: 100px;
}

.borderHeader.searchHeader {
  top: -12px;
  height: 20px;
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
}

.borderHeader.searchHeader p {
  font-size: 24px;
  position: relative;
  top: 2px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.highlight-subtext {
  color: var(--subtext0);
}

.image-wrapper p {
  font-size: 14px;
}

.image-wrapper img {
  width: 100%;
}

.searchOpen {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-color: var(--base);
  z-index: 1;
}

.searchOpen img {
  width: 100%;
  filter: invert();
  display: block;
}

.guideText p {
  font-size: 28px;
}

.intro {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro_text {
  margin: 0 auto;
  width: fit-content;
  font-size: 48px;
  position: relative;
  bottom: 60px;
}

.stopScroll {
  overflow: hidden;
}

@media screen and (max-height: 800px) {
  .telescope {
    height: 90dvh;
    top: 20px;
    font-size: 20px;
  }

  .search {
    min-height: 60px;
    margin-top: 10px;
  }

  .borderHeader {
    display: none;
  }

  .borderHeader.searchHeader {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .guide {
    display: none;
  }

  .links_linkWrapper {
    font-size: 20px;
  }

  .searchInput {
    font-size: 20px;
  }

  .leftWrapper {
    width: 100%;
    margin-right: 0;
  }
}
